@model DAL.Models.DasboardViewModel
@{
    ViewBag.Title = "dasboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .bg-gradient-primary {
        background: linear-gradient(230deg, #f6de97, #FFC107);
    }
</style>
<div class="row">
    <div class="col-md-6 col-lg-3 grid-margin stretch-card">
        <div class="card bg-gradient-primary text-white text-center card-shadow-primary">
            <div class="card-body">
                <h6 class="font-weight-normal">Total Customers</h6>
                <h2 class="mb-0">@Model.TotalCustomers</h2>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3 grid-margin stretch-card">
        <div class="card bg-gradient-danger text-white text-center card-shadow-danger">
            <div class="card-body">
                <h6 class="font-weight-normal">Total Transactions</h6>
                <h2 class="mb-0">@Model.TotalTransactions</h2>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3 grid-margin stretch-card">
        <div class="card bg-gradient-warning text-white text-center card-shadow-warning">
            <div class="card-body">
                <h6 class="font-weight-normal">Total Locations</h6>
                <h2 class="mb-0">@Model.TotalLocations</h2>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3 grid-margin stretch-card">
        <div class="card bg-gradient-info text-white text-center card-shadow-info">
            <div class="card-body">
                <h6 class="font-weight-normal">Total Subusers</h6>
                <h2 class="mb-0">@Model.TotalSubusers</h2>
            </div>
        </div>
    </div>
</div>

