@model IEnumerable<DAL.Models.BroadcastViewModel>
@{
    ViewBag.Title = "Broadcast";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/choices.min.css">

    <style>
        h1 {
            margin-bottom: 40px
        }

        label {
            color: #333
        }

        .btn-send {
            font-weight: 300;
            text-transform: uppercase;
            letter-spacing: 0.1em;
            width: 100%;
            margin-left: 3px
        }

        .help-block.with-errors {
            color: #ff5050;
            margin-top: 5px
        }

        .card {
            margin-left: 10px;
            margin-right: 10px
        }
        .imgGif{
            display:none;
        }


        
    </style>
</head>
 
<div class="card col-lg-12">
    <script src="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/choices.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <div class="card-body col-lg-12 ">
        <div class="row form-group">
            <div class="col-12 ">
                <h4 class="card-title m-0">Broadcast</h4>
            </div>
        </div>
        <div class="container">
            <div class="row ">
                <div class="col-12 grid-margin stretch-card ">
                    <div class="container">
                        @*@using (Html.BeginForm("Send", "Broadcast", FormMethod.Post, new { enctype = "multipart/form-data" }))*@
                        @using (Ajax.BeginForm("Send", "Broadcast", new AjaxOptions
                        {
                            HttpMethod = "POST",
                            OnSuccess = "OnSuccess",
                            OnFailure = "OnFailure",
                        }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <form id="contact-form" role="form">
                                <div class="controls">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="form_name">Select Customer to send SMS/EMAIL *</label>
                                                <div class="row d-flex justify-content-center mt-100">
                                                    <div class="col-md-12 ">
                                                        <select id="choices-multiple-remove-button" name="Email" class="form-control" placeholder="Select Customers" multiple>
                                                            @foreach (var item in ViewBag.Users)
                                                            {
                                                                <option value="@item.Email">@item.Email</option>
                                                            }
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-12" style="padding-bottom:20px;">
                                        <div class="form-check">
                                            <input class="form-check-input" onclick="" type="checkbox" name="sendall" value="ALL" id="sendall">
                                            <label class="form-check-label" for="flexRadioDefault">
                                                Send To All Customers
                                            </label>
                                        </div>

                                    </div>

                                    <div class="row">
                                        <div id="ifYes" class="col-md-12">
                                            <div class="form-group"> <label for="form_subject">Subject </label> <textarea id="form_subject" name="subject" class="form-control" placeholder="Write your subject here." rows="2" data-error="Please, leave us a message."></textarea> </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group"> <label for="form_message">Message *</label> <textarea id="form_message" name="message" class="form-control" placeholder="Write your message here." rows="5" required="required" data-error="Please, leave us a message."></textarea> </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="input-group">
                                                <div class="input-group-prepend" style="height:38px;">
                                                    <span class="input-group-text" id="inputGroupFileAddon01" style="color:#333; font-size:0.875rem;">Upload</span>
                                                </div>
                                                <div class="custom-file">
                                                    <input type="file" class="custom-file-input" id="inputGroupFile01" name="Docs"
                                                           aria-describedby="inputGroupFileAddon01">
                                                    <label class="custom-file-label" for="inputGroupFile01" style="font-size:15px;">Choose file</label>
                                                </div>
                                            </div>

                                            <div class="col-md-12" style="padding-top:20px;">
                                                <div class="form-check">
                                                    <input class="form-check-input" onclick="" type="radio" name="isEmail" value="SMS" id="noCheck">
                                                    <label class="form-check-label" for="flexRadioDefault1">
                                                        SMS
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" onclick="" type="radio" name="isEmail" id="yesCheck" value="Email" checked>
                                                    <label class="form-check-label" for="flexRadioDefault2">
                                                        EMAIL
                                                    </label>
                                                </div>
                                            </div>

                                        </div>
                                        @*<div class="col-md-3" style="padding-top:20px;"> <input type="submit" class="btn btn-warning btn-send pt-2 btn-block " value="Send Message"> </div>*@
                                        <button type="submit" class="btn btn-primary mr-2 sendbtn">Send</button>
                                        <img class="imgGif" src="~/assets/images/loading.gif" style="height:40px;" />
                                    </div>

                                </div>
                            </form>

                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script type="text/javascript">

    $(".sendbtn").click(function () {
        $(".imgGif").show();       
    });
    

    function OnSuccess(result) {
        debugger
        if (result.success) {
            $(".imgGif").css("display", "none");               
            //window.location.href = "/broadcast/Broadcast";     
            swalAlert();
            setTimeout(function () {
                location.reload();
            }, 5000);
        }
        else {
            swal("Error Occured!", "Customer Can not Created Successfully", "error");
        }
    }

    function swalAlert() {
        swal({
            title: "Email/SMS Sent Successfully!",
            icon: "success",
            button: "OK",
        });
    }
</script>


<script>
$(document).ready(function () {
    var multipleCancelButton = new Choices('#choices-multiple-remove-button', {
        removeItemButton: true,
        maxItemCount: 200,
        searchResultLimit: 5,
        renderChoiceLimit: 5,
        
    });
});
</script>
<script>
        function yesnoCheck() {
            if (document.getElementById('yesCheck').checked) {
                document.getElementById('ifYes').style.visibility = 'visible';
            }
            else document.getElementById('ifYes').style.visibility = 'hidden';
        }
</script>




